# 데이터 import

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('master.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382000 entries, 0 to 381999
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   P_SEQ         382000 non-null  float64
 1   M_SEQ         382000 non-null  float64
 2   M_NAME        382000 non-null  object
 3   A_SEQ         382000 non-null  float64
 4   A_NAME        381939 non-null  object
 5   A_UNIT        382000 non-null  object
 6   A_PRICE       382000 non-null  int64
 7   P_YEAR_MONTH  382000 non-null  object
 8   ADD_COL       308207 non-null  object
 9   P_DATE        382000 non-null  object
 10  M_TYPE_CODE   382000 non-null  int64
 11  M_TYPE_NAME   382000 non-null  object
 12  M_GU_CODE     382000 non-null  int64
 13  M_GU_NAME     382000 non-null  object
dtypes: float64(3), int64(3), object(8)
memory usage: 40.8+ MB

# market_retail에 없는 상점을 df에서 제거

In [4]:
market_df = pd.read_csv('./result/market_retail.csv', encoding='utf8')

In [5]:
market_df

   m_code  loc      m_name  m_type
0      M1  NaN    이마트 여의도점       1
1     M10  NaN  롯데백화점 영등포점       1
2     M11  NaN     이마트 이수점       1
3     M12  NaN    이마트 신도림점       1
4     M13  NaN     이마트 성수점       1
..    ...  ...         ...     ...
79     T5  NaN    마포농수산물시장       0
80     T6  NaN        통인시장       0
81     T7  NaN        광장시장       0
82     T8  NaN       남대문시장       0
83     T9  NaN        뚝도시장       0

[84 rows x 4 columns]

In [6]:
# 폐업한 상점을 리스트에서 제거 
df = df[df['M_NAME'].isin(market_df['m_name'])].reset_index(drop=True)

In [7]:
df = df.reset_index(drop=True)

In [8]:
df

,P_SEQ,M_SEQ,M_NAME,A_SEQ,A_NAME,A_UNIT,A_PRICE,P_YEAR_MONTH,ADD_COL,P_DATE,M_TYPE_CODE,M_TYPE_NAME,M_GU_CODE,M_GU_NAME
0,1758234.0,62.0,후암시장,305.0,"사과(부사, 300g)",1개,1500,2022-06,국내산 부사,2022-06-24,1,전통시장,170000,용산구
1,1758235.0,62.0,후암시장,306.0,"배(신고, 600g)",1개,3000,2022-06,국내산 신고,2022-06-24,1,전통시장,170000,용산구
2,1758236.0,62.0,후암시장,307.0,배추(2.5~3kg),1포기,5000,2022-06,국내산,2022-06-24,1,전통시장,170000,용산구
3,1758237.0,62.0,후암시장,308.0,무(1kg),1개,1500,2022-06,국내산 흙무,2022-06-24,1,전통시장,170000,용산구
4,1758238.0,62.0,후암시장,309.0,양파(1.5kg망),1망 1.5kg,3000,2022-06,국내산,2022-06-24,1,전통시장,170000,용산구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310009,1189127.0,73.0,뚝도시장,310.0,상추(100g),1근,1800,2018-01,국내산,2018-01-29,1,전통시장,200000,성동구
310010,1189450.0,26.0,신창시장,310.0,상추(100g),1봉지(100g),750,2018-01,남양주.400g3000원,2018-01-29,1,전통시장,320000,도봉구
310011,1189517.0,210.0,상계중앙시장,309.0,양파(1.5kg망),1망(1.6kg),3000,2018-01,NaN,2018-01-29,1,전통시장,350000,노원구
310012,1190321.0,133.0,원당종합시장,99.0,돼지고기(생삼겹살),600g,14800,2018-01,"음성농협100g2,466원",2018-01-29,1,전통시장,620000,관악구
310013,1189811.0,103.0,신영시장,52.0,돼지고기(삼겹살),600g,12000,2018-01,농협안심,2018-01-29,1,전통시장,470000,양천구

In [9]:
# 농산물 리스트
agri_lst = ['사과', '배', '배추', '무', '양파', '상추', '오이', '애호박', '호박', "쌀"]

In [10]:
# A_NAME이 결측값인 레코드를 삭제하고 문자열처리를 통해 p_group을 생성한다
df = df.dropna(subset=['A_NAME'])
df['p_group'] = df['A_NAME'].str.split('(')
df['p_group'] = df['p_group'].apply(lambda x : x[0])

C:\Users\l2t\AppData\Local\Temp\ipykernel_18960\1496156347.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['p_group'] = df['A_NAME'].str.split('(')
C:\Users\l2t\AppData\Local\Temp\ipykernel_18960\1496156347.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['p_group'] = df['p_group'].apply(lambda x : x[0])

In [11]:
# 소매점포에서 판매하는 농산물 상품 데이터 
agri_df = df[df['p_group'].isin(agri_lst)]

In [12]:
agri_df.head()

,P_SEQ,M_SEQ,M_NAME,A_SEQ,A_NAME,A_UNIT,A_PRICE,P_YEAR_MONTH,ADD_COL,P_DATE,M_TYPE_CODE,M_TYPE_NAME,M_GU_CODE,M_GU_NAME,p_group
0,1758234.0,62.0,후암시장,305.0,"사과(부사, 300g)",1개,1500,2022-06,국내산 부사,2022-06-24,1,전통시장,170000,용산구,사과
1,1758235.0,62.0,후암시장,306.0,"배(신고, 600g)",1개,3000,2022-06,국내산 신고,2022-06-24,1,전통시장,170000,용산구,배
2,1758236.0,62.0,후암시장,307.0,배추(2.5~3kg),1포기,5000,2022-06,국내산,2022-06-24,1,전통시장,170000,용산구,배추
3,1758237.0,62.0,후암시장,308.0,무(1kg),1개,1500,2022-06,국내산 흙무,2022-06-24,1,전통시장,170000,용산구,무
4,1758238.0,62.0,후암시장,309.0,양파(1.5kg망),1망 1.5kg,3000,2022-06,국내산,2022-06-24,1,전통시장,170000,용산구,양파

# 상점코드 매핑

In [13]:
market_df

   m_code  loc      m_name  m_type
0      M1  NaN    이마트 여의도점       1
1     M10  NaN  롯데백화점 영등포점       1
2     M11  NaN     이마트 이수점       1
3     M12  NaN    이마트 신도림점       1
4     M13  NaN     이마트 성수점       1
..    ...  ...         ...     ...
79     T5  NaN    마포농수산물시장       0
80     T6  NaN        통인시장       0
81     T7  NaN        광장시장       0
82     T8  NaN       남대문시장       0
83     T9  NaN        뚝도시장       0

[84 rows x 4 columns]

In [14]:
market_dict = dict(zip(market_df.m_name, market_df.m_code))

In [15]:
market_dict

{'이마트 여의도점': 'M1',
 '롯데백화점 영등포점': 'M10',
 '이마트 이수점': 'M11',
 '이마트 신도림점': 'M12',
 '이마트 성수점': 'M13',
 '롯데백화점 미아점': 'M14',
 '이마트 왕십리점': 'M15',
 '롯데백화점 관악점': 'M16',
 '뉴코아아울렛 강남점': 'M17',
 '신세계백화점 강남점': 'M18',
 '롯데마트 강변점': 'M19',
 '홈플러스 영등포점': 'M2',
 '롯데백화점 강남점': 'M20',
 '롯데마트 서울역점': 'M21',
 '이마트 역삼점': 'M22',
 '이마트 자양점': 'M23',
 '홈플러스 잠실점': 'M24',
 '롯데백화점 잠실점': 'M25',
 '이마트 명일점': 'M26',
 '홈플러스 강동점': 'M27',
 '롯데백화점 청량리점': 'M28',
 '홈플러스 동대문점': 'M29',
 '이마트 용산점': 'M3',
 'NC백화점 불광점': 'M30',
 '이마트 은평점': 'M31',
 '홈플러스 면목점': 'M32',
 '이마트 상봉점': 'M33',
 '롯데백화점 노원점': 'M34',
 '홈플러스 중계점': 'M35',
 '이마트 목동점': 'M36',
 '홈플러스 목동점': 'M37',
 '현대백화점 신촌점': 'M38',
 '이마트 창동점': 'M39',
 '홈플러스 월드컵점': 'M4',
 '홈플러스 방학점': 'M40',
 '이마트 가양점': 'M41',
 '현대백화점 미아점': 'M42',
 '농협하나로마트 신촌점': 'M5',
 'NC백화점 신구로점': 'M6',
 '이마트 미아점': 'M7',
 '홈플러스 시흥점': 'M8',
 '홈플러스 독산점': 'M9',
 '후암시장': 'T1',
 '송화시장': 'T10',
 '현대시장': 'T11',
 '고척근린시장': 'T12',
 '남구로시장': 'T13',
 '남성시장': 'T14',
 '원당종합시장': 'T15',
 '금남시장': 'T16',
 '노룬산골목시장': 'T17',
 '방배종합시장': 'T18',
 '청담삼익시장': 'T19',
 '대림중앙시장': 'T2',
 '자양골목시장': 'T20',
 '도곡시장': 'T21',
 '방이시장': 'T22',
 '마천중앙시장': 'T23',
 '청량리종합시장': 'T24',
 '수유재래시장': 'T25',
 '암사종합시장': 'T26',
 '둔촌역전통시장': 'T27',
 '대조시장': 'T28',
 '경동시장': 'T29',
 '용문시장': 'T3',
 '대림시장': 'T30',
 '숭인시장': 'T31',
 '우림시장': 'T32',
 '동원시장': 'T33',
 '공릉동 도깨비시장': 'T34',
 '상계중앙시장': 'T35',
 '인왕시장': 'T36',
 '목3동시장': 'T37',
 '신영시장': 'T38',
 '서울중앙시장': 'T39',
 '망원시장': 'T4',
 '신창시장': 'T40',
 '화곡본동시장': 'T41',
 '돈암제일시장': 'T42',
 '마포농수산물시장': 'T5',
 '통인시장': 'T6',
 '광장시장': 'T7',
 '남대문시장': 'T8',
 '뚝도시장': 'T9'}

In [16]:
def mapping_m_code(s):
    return market_dict.get(s)

In [17]:
agri_df['m_code'] = agri_df['M_NAME'].apply(mapping_m_code)

C:\Users\l2t\AppData\Local\Temp\ipykernel_18960\941639554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agri_df['m_code'] = agri_df['M_NAME'].apply(mapping_m_code)

In [18]:
agri_df.head()

,P_SEQ,M_SEQ,M_NAME,A_SEQ,A_NAME,A_UNIT,A_PRICE,P_YEAR_MONTH,ADD_COL,P_DATE,M_TYPE_CODE,M_TYPE_NAME,M_GU_CODE,M_GU_NAME,p_group,m_code
0,1758234.0,62.0,후암시장,305.0,"사과(부사, 300g)",1개,1500,2022-06,국내산 부사,2022-06-24,1,전통시장,170000,용산구,사과,T1
1,1758235.0,62.0,후암시장,306.0,"배(신고, 600g)",1개,3000,2022-06,국내산 신고,2022-06-24,1,전통시장,170000,용산구,배,T1
2,1758236.0,62.0,후암시장,307.0,배추(2.5~3kg),1포기,5000,2022-06,국내산,2022-06-24,1,전통시장,170000,용산구,배추,T1
3,1758237.0,62.0,후암시장,308.0,무(1kg),1개,1500,2022-06,국내산 흙무,2022-06-24,1,전통시장,170000,용산구,무,T1
4,1758238.0,62.0,후암시장,309.0,양파(1.5kg망),1망 1.5kg,3000,2022-06,국내산,2022-06-24,1,전통시장,170000,용산구,양파,T1

# description 생성

- ADD_COL과 A_NAME을 결합하여 결측치 제거

In [19]:
agri_df.isnull().sum()

P_SEQ               0
M_SEQ               0
M_NAME              0
A_SEQ               0
A_NAME              0
A_UNIT              0
A_PRICE             0
P_YEAR_MONTH        0
ADD_COL         30526
P_DATE              0
M_TYPE_CODE         0
M_TYPE_NAME         0
M_GU_CODE           0
M_GU_NAME           0
p_group             0
m_code              0
dtype: int64

In [20]:
# 상품명에서 ( 다음 문자 합치기 및 마지막 괄호 제거
agri_df['description'] = agri_df['A_NAME'].str.split('(')
agri_df['description'] = agri_df['description'].apply(lambda x: " ".join(x[1:]).replace(')', ''))

# 비고가 공백인 경우 blank 처리
agri_df['ADD_COL'] = agri_df['ADD_COL'].fillna("")

agri_df['description'] = agri_df['ADD_COL'] + ' ' + agri_df['description']

C:\Users\l2t\AppData\Local\Temp\ipykernel_18960\4165559860.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agri_df['description'] = agri_df['A_NAME'].str.split('(')
C:\Users\l2t\AppData\Local\Temp\ipykernel_18960\4165559860.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agri_df['description'] = agri_df['description'].apply(lambda x: " ".join(x[1:]).replace(')', ''))
C:\Users\l2t\AppData\Local\Temp\ipykernel_18960\4165559860.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agri_df['ADD_COL'] = agri_df['ADD_COL'].fillna("")
C:\Users\l2t\AppData\Local\Temp\ipykernel_18960\4165559860.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agri_df['description'] = agri_df['ADD_COL'] + ' ' + agri_df['description']

In [21]:
agri_df

,P_SEQ,M_SEQ,M_NAME,A_SEQ,A_NAME,A_UNIT,A_PRICE,P_YEAR_MONTH,ADD_COL,P_DATE,M_TYPE_CODE,M_TYPE_NAME,M_GU_CODE,M_GU_NAME,p_group,m_code,description
0,1758234.0,62.0,후암시장,305.0,"사과(부사, 300g)",1개,1500,2022-06,국내산 부사,2022-06-24,1,전통시장,170000,용산구,사과,T1,"국내산 부사 부사, 300g"
1,1758235.0,62.0,후암시장,306.0,"배(신고, 600g)",1개,3000,2022-06,국내산 신고,2022-06-24,1,전통시장,170000,용산구,배,T1,"국내산 신고 신고, 600g"
2,1758236.0,62.0,후암시장,307.0,배추(2.5~3kg),1포기,5000,2022-06,국내산,2022-06-24,1,전통시장,170000,용산구,배추,T1,국내산 2.5~3kg
3,1758237.0,62.0,후암시장,308.0,무(1kg),1개,1500,2022-06,국내산 흙무,2022-06-24,1,전통시장,170000,용산구,무,T1,국내산 흙무 1kg
4,1758238.0,62.0,후암시장,309.0,양파(1.5kg망),1망 1.5kg,3000,2022-06,국내산,2022-06-24,1,전통시장,170000,용산구,양파,T1,국내산 1.5kg망
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310006,1190483.0,145.0,마천중앙시장,306.0,"배(신고, 600g)",1개,3000,2018-01,,2018-01-29,1,전통시장,710000,송파구,배,T23,"신고, 600g"
310007,1190318.0,133.0,원당종합시장,311.0,오이(다다기),개,1000,2018-01,"국산2개1,000원",2018-01-29,1,전통시장,620000,관악구,오이,T15,"국산2개1,000원 다다기"
310009,1189127.0,73.0,뚝도시장,310.0,상추(100g),1근,1800,2018-01,국내산,2018-01-29,1,전통시장,200000,성동구,상추,T9,국내산 100g
310010,1189450.0,26.0,신창시장,310.0,상추(100g),1봉지(100g),750,2018-01,남양주.400g3000원,2018-01-29,1,전통시장,320000,도봉구,상추,T40,남양주.400g3000원 100g
310011,1189517.0,210.0,상계중앙시장,309.0,양파(1.5kg망),1망(1.6kg),3000,2018-01,,2018-01-29,1,전통시장,350000,노원구,양파,T35,1.5kg망

In [22]:
agri_df = agri_df.reset_index(drop=True)

In [23]:
agri_df.isnull().sum()

P_SEQ           0
M_SEQ           0
M_NAME          0
A_SEQ           0
A_NAME          0
A_UNIT          0
A_PRICE         0
P_YEAR_MONTH    0
ADD_COL         0
P_DATE          0
M_TYPE_CODE     0
M_TYPE_NAME     0
M_GU_CODE       0
M_GU_NAME       0
p_group         0
m_code          0
description     0
dtype: int64

In [24]:
agri_df['p_group'].unique()

array(['사과', '배', '배추', '무', '양파', '상추', '오이', '애호박', '호박', '쌀'],
      dtype=object)

In [25]:
# 농산물 그룹식별을 위한 아스키코드값을 만들어 값으로 설정한다. e.g 사과 : A
agri_dict = {item : chr(idx + 65) for idx, item in enumerate(agri_lst)}

In [26]:
agri_dict

{'사과': 'A',
 '배': 'B',
 '배추': 'C',
 '무': 'D',
 '양파': 'E',
 '상추': 'F',
 '오이': 'G',
 '애호박': 'H',
 '호박': 'I',
 '쌀': 'J'}

### 농산품 그룹 식별 코드를 CSV 파일로 저장

In [29]:
# 해당 알파벳 코드에 해당하는 그룹의 모든 단위를 저장한다.

uniq_units = {}

for key in agri_dict.keys():
    uniq_units[agri_dict[key]] = list(agri_df.query(f"p_group == '{key}'")['A_UNIT'].unique())

In [35]:
# 사과의 모든 단위를 출력
# print(uniq_units['A'])

In [44]:
for key, val in agri_dict.items():
    df = pd.DataFrame(data=uniq_units[val], columns=[key])
    df.to_csv(f"./units/agr-{val}.csv", index=False)

In [45]:
df.head()

           쌀
0  1포대(20kg)
1    1포(4KG)
2  1포대(10kg)

# 농작물 상품카테고리코드 생성

- e.g) AGR-A0001 : 사과의 첫번째 단위

- p_group과 단위를 기준으로 unique한 카테고리 코드를 생성

In [47]:
agri_df.head()

,P_SEQ,M_SEQ,M_NAME,A_SEQ,A_NAME,A_UNIT,A_PRICE,P_YEAR_MONTH,ADD_COL,P_DATE,M_TYPE_CODE,M_TYPE_NAME,M_GU_CODE,M_GU_NAME,p_group,m_code,description
0,1758234.0,62.0,후암시장,305.0,"사과(부사, 300g)",1개,1500,2022-06,국내산 부사,2022-06-24,1,전통시장,170000,용산구,사과,T1,"국내산 부사 부사, 300g"
1,1758235.0,62.0,후암시장,306.0,"배(신고, 600g)",1개,3000,2022-06,국내산 신고,2022-06-24,1,전통시장,170000,용산구,배,T1,"국내산 신고 신고, 600g"
2,1758236.0,62.0,후암시장,307.0,배추(2.5~3kg),1포기,5000,2022-06,국내산,2022-06-24,1,전통시장,170000,용산구,배추,T1,국내산 2.5~3kg
3,1758237.0,62.0,후암시장,308.0,무(1kg),1개,1500,2022-06,국내산 흙무,2022-06-24,1,전통시장,170000,용산구,무,T1,국내산 흙무 1kg
4,1758238.0,62.0,후암시장,309.0,양파(1.5kg망),1망 1.5kg,3000,2022-06,국내산,2022-06-24,1,전통시장,170000,용산구,양파,T1,국내산 1.5kg망

In [59]:
agriproduct_retail = {
    'category_code' : [],
    'p_group' : [],
    'unit' : [],
    'price': [],
    'm_code': [],
    'p_name': [],
    'date' : [],
    'description': []
}

In [60]:
for key in agri_dict.keys(): # 사과, 배, 배추 ...
    
    q = f"p_group == '{key}'"
    print(f"------------------{key}------------------------")
    
    ###########################################################
    #        농산물 소매 테이블 정보 저장
    ###########################################################
    for idx, row in agri_df.query(q).iterrows():

        agriproduct_retail['p_name'].append(row[4])
        agriproduct_retail['unit'].append(row[5])
        agriproduct_retail['price'].append(row[6])
        agriproduct_retail['description'].append(row[8])
        agriproduct_retail['date'].append(row[9])
        agriproduct_retail['p_group'].append(row[14])
        agriproduct_retail['m_code'].append(row[15])

        ##########################################################
        #       Category_code 생성
        ##########################################################
        
        # 단위 딕셔너리를 생성한다.
        unit_dict = { v : k + 1 for k, v in enumerate(uniq_units[agri_dict[key]])}

        # unit으로  unit_dict 딕셔너리에서 해당 unitcode를 검색한다.
        unitcode = str(unit_dict[row[5]])

        # agr-A0001 형식으로 category_code를 생성한다.
        # agr : 농산물 소매테이블
        # A : 사과
        # 0001 : 1번째 unitcode
        category_code = "AGR-" + agri_dict[key] + unitcode.zfill(4)

        # agriproduct_retail_df에 category_code 값을 저장한다.
        agriproduct_retail_df['category_code'].append(category_code)
        
print("--------------------종료-----------------------")

agriproduct_retail_master_df = pd.DataFrame(agriproduct_retail)

------------------사과------------------------
------------------배------------------------
------------------배추------------------------
------------------무------------------------
------------------양파------------------------
------------------상추------------------------
------------------오이------------------------
------------------애호박------------------------
------------------호박------------------------
------------------쌀------------------------
--------------------종료-----------------------

In [64]:
# 농산물 소매상품 마스터 테이블
agriproduct_retail_master_df

In [65]:
agriproduct_retail_df = agriproduct_retail_master_df[['category_code', 'p_group', 'unit']]

In [66]:
agriproduct_retail_df

       category_code p_group       unit
0          AGR-A0001      사과         1개
1          AGR-A0002      사과   1개(300g)
2          AGR-A0002      사과   1개(300g)
3          AGR-A0002      사과   1개(300g)
4          AGR-A0002      사과   1개(300g)
...              ...     ...        ...
146049     AGR-I0001      호박         1개
146050     AGR-I0001      호박         1개
146051     AGR-J0001       쌀  1포대(20kg)
146052     AGR-J0002       쌀    1포(4KG)
146053     AGR-J0003       쌀  1포대(10kg)

[146054 rows x 3 columns]

# 중복되는 상품 카테고리 제거

In [69]:
agriproduct_retail_df = agriproduct_retail_df.drop_duplicates().reset_index(drop=True)

In [78]:
agriproduct_retail_df

     category_code p_group       unit
0        AGR-A0001      사과         1개
1        AGR-A0002      사과   1개(300g)
2        AGR-A0003      사과    1개 300g
3        AGR-A0004      사과        1개
4        AGR-A0005      사과     1개300g
...            ...     ...        ...
4930     AGR-I0186      호박          1
4931     AGR-I0187      호박   1개(266g)
4932     AGR-J0001       쌀  1포대(20kg)
4933     AGR-J0002       쌀    1포(4KG)
4934     AGR-J0003       쌀  1포대(10kg)

[4935 rows x 3 columns]

In [72]:
len(agriproduct_retail_df['category_code'].unique())

4935

# master table csv 저장

In [80]:
agriproduct_retail_master_df.to_csv('./result/agri_master.csv', sep='|', index=False)

# 농산물 소매 카테고리 테이블 저장

In [81]:
agriproduct_retail_df.to_csv('./result/agriproduct_retail.csv', sep='|', index=False)