# 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
master_df = pd.read_csv('./result/wholesale_2022-06-23_preprocessed.csv')

In [3]:
master_df

,category_code,p_code,p_group,kind_name_new,rank,unit,price,date
0,AW_A00115,AW_A00115,쌀,쌀(일반계)(20kg),상품,20kg,"44,500",2022-06-23
1,AW_A00116,AW_A00116,쌀,쌀(일반계)(20kg),중품,20kg,"41,000",2022-06-23
2,AW_A00153,AW_A00153,찹쌀,찹쌀(일반계)(40kg),중품,40kg,"97,800",2022-06-23
3,AW_A00198,AW_A00198,콩,흰 콩(국산)(40kg),상품,40kg,"240,000",2022-06-23
4,AW_A00200,AW_A00200,콩,흰 콩(수입)(35kg),중품,35kg,"122,000",2022-06-23
...,...,...,...,...,...,...,...,...
44564,SW_A00020,SW_A00020,건오징어,건오징어(20마리),중품,20마리,"77,000",2021-06-24
44565,SW_A00053,SW_A00053,김,마른김(1속),중품,1속,"6,000",2021-06-24
44566,SW_A00019,SW_A00019,건미역,건미역(1kg),상품,1kg,"10,000",2021-06-24
44567,SW_A00140,SW_A00140,전복,전복(1kg),중품,1kg,"33,000",2021-06-24
44568,SW_A00107,SW_A00107,새우,새우(흰다리)(수입),중품,2kg,"20,000",2021-06-24

In [4]:
s = "흰 콩(수입)(35kg)"
s.__contains__("수입")

True

In [5]:
def is_domestic_or_imported(s: str) -> bool:
    """문자열에 수입이 포함되면 False 아니면 True"""
    return "수입" if s.__contains__("수입") else "국산"

In [6]:
master_df['kind'] = master_df['kind_name_new'].apply(is_domestic_or_imported)

In [7]:
# 국산 수입 비율
master_df['kind'].value_counts()

국산    39481
수입     5088
Name: kind, dtype: int64

In [8]:
master_df

,category_code,p_code,p_group,kind_name_new,rank,unit,price,date,kind
0,AW_A00115,AW_A00115,쌀,쌀(일반계)(20kg),상품,20kg,"44,500",2022-06-23,국산
1,AW_A00116,AW_A00116,쌀,쌀(일반계)(20kg),중품,20kg,"41,000",2022-06-23,국산
2,AW_A00153,AW_A00153,찹쌀,찹쌀(일반계)(40kg),중품,40kg,"97,800",2022-06-23,국산
3,AW_A00198,AW_A00198,콩,흰 콩(국산)(40kg),상품,40kg,"240,000",2022-06-23,국산
4,AW_A00200,AW_A00200,콩,흰 콩(수입)(35kg),중품,35kg,"122,000",2022-06-23,수입
...,...,...,...,...,...,...,...,...,...
44564,SW_A00020,SW_A00020,건오징어,건오징어(20마리),중품,20마리,"77,000",2021-06-24,국산
44565,SW_A00053,SW_A00053,김,마른김(1속),중품,1속,"6,000",2021-06-24,국산
44566,SW_A00019,SW_A00019,건미역,건미역(1kg),상품,1kg,"10,000",2021-06-24,국산
44567,SW_A00140,SW_A00140,전복,전복(1kg),중품,1kg,"33,000",2021-06-24,국산
44568,SW_A00107,SW_A00107,새우,새우(흰다리)(수입),중품,2kg,"20,000",2021-06-24,수입

In [22]:
agricproduct_wholesale_df = master_df[['category_code', 'kind', 'p_group', 'rank', 'unit']]

In [23]:
agricproduct_wholesale_df

      category_code kind p_group rank  unit
0         AW_A00115   국산       쌀   상품  20kg
1         AW_A00116   국산       쌀   중품  20kg
2         AW_A00153   국산      찹쌀   중품  40kg
3         AW_A00198   국산       콩   상품  40kg
4         AW_A00200   수입       콩   중품  35kg
...             ...  ...     ...  ...   ...
44564     SW_A00020   국산    건오징어   중품  20마리
44565     SW_A00053   국산       김   중품    1속
44566     SW_A00019   국산     건미역   상품   1kg
44567     SW_A00140   국산      전복   중품   1kg
44568     SW_A00107   수입      새우   중품   2kg

[44569 rows x 5 columns]

In [10]:
agricproduct_wholesale_df = agricproduct_wholesale_df.drop_duplicates().reset_index(drop=True)

In [11]:
agricproduct_wholesale_df.to_csv('./result/agriproduct_wholesale_df.csv', index=False)

In [12]:
agricproduct_wholesale_df

    category_code kind p_group rank  unit
0       AW_A00115   국산       쌀   상품  20kg
1       AW_A00116   국산       쌀   중품  20kg
2       AW_A00153   국산      찹쌀   중품  40kg
3       AW_A00198   국산       콩   상품  40kg
4       AW_A00200   수입       콩   중품  35kg
..            ...  ...     ...  ...   ...
196     SW_A00053   국산       김   중품    1속
197     SW_A00019   국산     건미역   상품   1kg
198     SW_A00140   국산      전복   중품   1kg
199     SW_A00107   수입      새우   중품   2kg
200     SW_A00026   국산       굴   상품   1kg

[201 rows x 5 columns]

In [16]:
agricproduct_wholesale_df.query("p_group == '사과'")

    category_code kind p_group rank  unit
137     AW_A00099   국산      사과   상품  10kg
138     AW_A00100   국산      사과   중품  10kg
171     AW_A00097   국산      사과   상품  10kg
172     AW_A00098   국산      사과   중품  10kg
181     AW_A00095   국산      사과   상품  10kg
182     AW_A00096   국산      사과   중품  10kg

In [20]:
agricproduct_wholesale_df.query("p_group == '배추'")

    category_code kind p_group rank  unit
19      AW_A00084   국산      배추   상품  10kg
20      AW_A00085   국산      배추   중품  10kg
95      AW_A00086   국산      배추   상품  10kg
96      AW_A00087   국산      배추   중품  10kg
105     AW_A00080   국산      배추   상품  10kg
106     AW_A00081   국산      배추   중품  10kg
109     AW_A00082   국산      배추   상품  10kg
110     AW_A00083   국산      배추   중품  10kg

# DB에 데이터 저장

In [54]:
import pymysql

db = pymysql.connect(host="db-1.cnt4cbkbsgdt.us-east-1.rds.amazonaws.com",
                     port=3306,
                     user='admin',
                     passwd='12345678',
                     db='public_api',
                     charset='utf8')

cursor = db.cursor()

# 상품 데이터 삽입
for idx, row in agricproduct_wholesale_df.iterrows():

    sql = f"INSERT INTO agricproduct_wholesale VALUES('{row[0]}','{row[1]}','{row[2]}','{row[3]}', '{row[4]}')"
    cursor.execute(sql)
    db.commit()

    if idx % 100 == 0:
        print(f"{idx} 번째 row insert 완료")

0 번째 row insert 완료
100 번째 row insert 완료
200 번째 row insert 완료